body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    font-family: 'Inconsolata';

}

#container{
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kotak-input {
    display: block;
    resize: none;
}

p > span {
    color: coral; /* atau juga bisa pakai kode hex-nya, #FF7F50 */
    font-weight: bold;
}